@font-face {
  font-family: 'Li Ador Noirrit';
  src: url('LiAdorNoirrit-Bold.woff2') format('woff2'),
    url('LiAdorNoirrit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Li Ador Noirrit';
  src: url('LiAdorNoirrit-Italic.woff2') format('woff2'),
    url('LiAdorNoirrit-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Li Ador Noirrit';
  src: url('LiAdorNoirrit-BoldItalic.woff2') format('woff2'),
    url('LiAdorNoirrit-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Li Ador Noirrit';
  src: url('LiAdorNoirrit.woff2') format('woff2'),
    url('LiAdorNoirrit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Li Ador Noirrit';
  src: url('LiAdorNoirrit-SemiBold.woff2') format('woff2'),
    url('LiAdorNoirrit-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Li Ador Noirrit';
  src: url('LiAdorNoirrit-SemiBoldItalic.woff2') format('woff2'),
    url('LiAdorNoirrit-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Li Sirajee Sheikh Unicode';
  src: local('Li Sirajee Sheikh Unicode Italic'),
    local('LiSirajeeSheikhUnicodeItalic'),
    url('LiSirajeeSheikhUnicodeItalic.woff2') format('woff2'),
    url('LiSirajeeSheikhUnicodeItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Li Sirajee Sheikh Unicode';
  src: local('Li Sirajee Sheikh Unicode'), local('LiSirajeeSheikhUnicode'),
    url('LiSirajeeSheikhUnicode.woff2') format('woff2'),
    url('LiSirajeeSheikhUnicode.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
