---
import { getCollection } from 'astro:content';
import { generateSlug } from '../../utils';
import BaseLayout from '../../layouts/BaseLayout.astro';

const recipes = await getCollection('recipes');
const authors = recipes
  .map((recipe) => recipe.data.author)
  .reduce<{ [key: string]: number }>(function (result, curr) {
    let count = result[curr] || 0;
    result[curr] = count + 1;
    return result;
  }, {});

console.log(authors);

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect('/404');
}

const allRecipesWithAuthors = await getCollection(
  'recipes',
  (recipe) => generateSlug(recipe.data.author) === slug
);
if (allRecipesWithAuthors.length === 0) {
  Astro.redirect('/404');
}

export const prerender = true;

export async function getStaticPaths() {
  const recipes = await getCollection('recipes');
  return [...new Set(recipes.map((recipe) => recipe.data.author))].map(
    (author) => ({
      params: {
        slug: generateSlug(author),
      },
    })
  );
}
const author = Object.keys(authors).find(
  (author) => generateSlug(author) === slug
);
console.log({ slug, author });
---

<BaseLayout>
  <h1>All posts about: {author}</h1>
  {
    allRecipesWithAuthors.map((recipe) => (
      <article>
        <h2>{recipe.data.title}</h2>
      </article>
    ))
  }
</BaseLayout>
