---
import { getCollection } from 'astro:content';
import { generateSlug } from '../../utils';
import BaseLayout from '../../layouts/BaseLayout.astro';

const recipes = await getCollection('recipes');
const tags = recipes
  .map((recipe) => recipe.data.tags)
  .flat()
  .reduce<{ [key: string]: number }>(function (result, curr) {
    let count = result[curr] || 0;
    result[curr] = count + 1;
    return result;
  }, {});

console.log(tags);
---

<BaseLayout>
  <h1>All posts about: {tags.length}</h1>
  {
    Object.keys(tags).map((tag) => (
      <article>
        <h2>
          <a href={`/tags/${generateSlug(tag)}`}>
            {tag} ({tags[tag]})
          </a>
        </h2>
      </article>
    ))
  }
</BaseLayout>
