---
import { getUniqueTagsWithCount, getAllRecipes } from '../../data';
import BaseLayout from '../../layouts/BaseLayout.astro';

const recipes = await getAllRecipes();
const tags = getUniqueTagsWithCount(recipes);
---

<BaseLayout meta={{ title: 'All tags' }}>
  <ul>
    {
      tags.map(([tag, count]) => (
        <li>
          {tag} ({count})
        </li>
      ))
    }
  </ul>
</BaseLayout>
