---
import { Text } from '../components/Text';
import { Button } from '../components/Button';
import { Link } from '../components/Link';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <Button>সকল রেসিপি দেখুন</Button>
  <Button variant="warning">সকল রেসিপি দেখুন</Button>
  <Button variant="secondary">সকল রেসিপি দেখুন</Button>
  <Button variant="error">সকল রেসিপি দেখুন</Button>

  <Link to="/">Test</Link>
  <Link type="button" to="/">Test</Link>

  <Text component="h1" variant="display">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="h1" variant="h1">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="p" variant="body">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="p" variant="body">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="h2" variant="h2">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="p" variant="body">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="h3" variant="h3">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="p" variant="body">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="h4" variant="h4">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="p" variant="body">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="h5" variant="h5">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="p" variant="body">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="h6" variant="h6">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="p" variant="body">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <Text component="span" variant="label1">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>

  <br />
  <Text component="span" variant="label2">
    মহারাজ ঊষাকালে বৃহৎ ঐরাবতে রাজপথের অর্ধেক প্রদক্ষিণ করতঃ হঠাত্‍ উক্তি
    করিলেন, “এই ঢোল‌ পাখোয়াজ, শাস্ত্রীয় সঙ্গীতের ঝংকার ও সৌরভ মন্দ্রিত
    আড়ম্বরপূর্ন রঙিন জীবনের ছত্রতলে যে বিষণ্ণ দারিদ্র তাহা কি ঈষৎ ঔদাসীন্য,
    অপ্রচলিত বৈদেশিক নীতি নাকি বারভুঁইঞার সহিত পুরাণো এবং আত্মঘাতী ডামাডোলের
    ফসল?”
  </Text>
</BaseLayout>
