---
import PageLayout from '@/layouts/PageLayout.astro';

const meta = {
  title: 'পরিচিতি',
};
---

<PageLayout title={meta.title}>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, numquam.
    Quaerat repellat eum accusamus temporibus officiis exercitationem dolorum,
    amet dolore ut iste itaque, quod corrupti recusandae dolor, eius et. Natus?
  </p>
</PageLayout>
