---
import PageLayout from '@/layouts/PageLayout.astro';

const meta = {
    title: 'পরিচিতি',
};
---

<PageLayout title={meta.title}>
    <p class="pb-4">
        পুরোদস্তুর ভোজনরসিক না হলেও মাঝে মাঝে পরিবার নিয়ে কিছু রেসিপি ট্রাই করতে
        ভাল লাগে আমার। তাই চেষ্টা করি ইউটিউব ঘেঁটে সহজ কিন্তু অথেন্টিক হোটেল
        কিংবা রেস্টুরেন্টের স্বাদের রেসিপি ট্রাই করার।
    </p>

    <p>
        রান্না করার সময় বারবার ভিডিও দেখে মসলার পরিমাপ নেয়া একটা ঝামেলার কাজ।
        পরিমাপগুলো কোথাও লিখে নিলে রান্নার সময় বারবার ভিডিও টেনেটুনে দেখার
        ঝামেলা আর থাকে না। আগে গুগল কিপ-এ পরিমাপগুলো লিখে নিতাম। কিন্তু একসময়
        মাথায় আসলো একটা ওয়েবসাইট হয়ে গেলে তো দেশ ও জাতির বিরাট উপকার হবে। আর সেই
        চিন্তা থেকেই জন্ম রসুই প্রণালীর।
    </p>
</PageLayout>
