---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/Container.astro';
import { Link } from '@/components/Link';

const meta = {
  title: 'নির্দেশিকা',
};
---

<BaseLayout meta={meta}>
  <div class="max-w-prose mx-auto pt-6 pb-16">
    <p>
      আসসালামু আলাইকুম। রসুই প্রণালীর পক্ষ থেকে আপনাকে জানাই স্বাগতম। এই লেখাটির
      মাধ্যমে আমরা আপনাকে জানানোর চেষ্টা করবো রসুই প্রণালীর উন্নয়নকল্পে আপনি
      কীভাবে অবদান রাখতে পারেন।
    </p>
    <h2 class="text-xl font-normal py-6">ফিচার অথবা বাগ রিপোর্ট</h2>
    <p>
      রসুই প্রণালী ওয়েবসাইটটি পরিদর্শনের সময় আপনার চোখে যদি কোনো অসঙ্গতি (বাগ)
      ধরা পড়ে অথবা কোনো ফিচারের কমতি আছে বলে যদি মনে হয় তবে আমাদের <Link
        to="https://github.com/sh4hids/roshui-pronali"
        variant="primary"
      >
        গিটহাব প্রজেক্টে
      </Link> একটা ইস্যু তেরি করে আমাদের জানাতে পারেন।
    </p>
    <h2 class="text-xl font-normal py-6">ফিচার অথবা বাগ নিয়ে কাজ করা</h2>
    <p>
      এই প্রজেক্টের যেকোনো ফিচার বা বাগ নিয়ে কাজ শুরু করার আগে তা আমাদেরকে
      সংশ্লিষ্ট গিটহাব ইস্যুর মাধ্যমে জানাতে হবে। এরপর প্রথমেই আপনাকে আমাদের
      গিটহাব রিপোটি ফোর্ক করে নিতে হবে। ফোর্ক করা রিপোটি আপনার কম্পিউটারে ক্লোন
      করে, প্রয়োজনীয় ডিপেনডেন্সি ইন্সটল করে সেখান থেকে আপনি কাজ শুরু করতে পারেন।
      গিট ব্রাঞ্চিংয়ের ক্ষেত্রে আমরা git flow অনুসরণ করার চেষ্টা করি।
    </p>
  </div>
</BaseLayout>
