---
import PageLayout from '@/layouts/PageLayout.astro';

const meta = {
  title: 'যোগাযোগ',
};
---

<PageLayout title={meta.title}>
  <ul>
    <li>
      <span class="font-bold pr-2">Email:</span>
      <a href="mailto:hello@shaid.pro" class="underline">hello@shahid.pro</a>
    </li>
    <li>
      <span class="font-bold pr-2">Website:</span>
      <a href="https://shahid.pro" target="_blank" class="underline"
        >shahid.pro</a
      >
    </li>
  </ul>
</PageLayout>
