---
import PageLayout from '@/layouts/PageLayout.astro';

const meta = {
  title: 'যোগাযোগ',
};
---

<PageLayout title={meta.title}>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, tempore nam
    sunt ullam recusandae laborum tenetur nemo? Deserunt, neque. Suscipit
    doloribus eaque debitis quod quia corrupti sunt quibusdam sint unde.
  </p>
</PageLayout>
