---
export interface Props {
  categories: Record<string, number>;
}

import CategoryCard from './CategoryCard.astro';
import SectionHeader from './SectionHeader.astro';
import { Link } from './Link';

const { categories } = Astro.props as Props;
const sortedCategories = Object.fromEntries(
  Object.entries(categories).sort((a, b) => b[1] - a[1])
);
---

<section class="px-6 mb-16">
  <SectionHeader>খাবারের ধরনসমূহ</SectionHeader>
  <div class="grid grid-cols-3 lg:grid-cols-6 gap-6">
    {
      Object.keys(sortedCategories)
        .slice(0, 6)
        .map((category) => <CategoryCard categoryName={category} />)
    }
    {
      Object.keys(sortedCategories)
        .slice(0, 2)
        .map((category) => <CategoryCard categoryName={category} />)
    }
  </div>
  <!-- { -->
  <!--   Object.keys(sortedCategories).length > 6 && ( -->
  <div class="text-center my-6">
    <Link to="/categories" type="button">খাবারের সবগুলো ধরন দেখুন</Link>
  </div>
  <!--   ) -->
  <!-- } -->
</section>
