---
import CategoryCard from '@/components/CategoryCard.astro';
import SeeAllLink from '@/components/SeeAllLink.astro';
import { type ItemWithCount } from '@/data/recipes';

interface Props {
    categories: ItemWithCount[];
    limit?: number;
}

const { categories: allCategories, limit } = Astro.props;
const categories = limit ? allCategories.slice(0, limit) : [...allCategories];
---

<div class="text-center *:mb-1.5 sm:*:mr-6 sm:*:mb-0">
    {categories.map((category) => <CategoryCard category={category} />)}
</div>
{
    limit && allCategories.length > limit && (
        <SeeAllLink title="সবগুলো দেখুন" link="/categories" />
    )
}
