---
import { type ItemWithCount } from '@/data/recipes';
import { convertToBanglaNumber, generateSlug } from '@/utils';

interface Props {
  category: ItemWithCount;
}

const { category } = Astro.props;
const [title, count] = category;
---

<article
  class="rounded-3xl bg-pablo-50 overflow-hidden drop-shadow hover:drop-shadow-lg ease-in-out duration-300"
>
  <a class="flex flex-col p-6" href={`/categories/${generateSlug(title)}`}>
    <h3 class="font-normal text-center text-pablo-700 text-xl pb-6 leading-8">
      {title}
    </h3>
    <p class="text-center border-t pt-6">
      {convertToBanglaNumber(count)}
      {' টি রেসিপি'}
    </p>
  </a>
</article>
