---
import { type ItemWithCount } from '@/data/recipes';
import { generateSlug } from '@/lib/utils';

interface Props {
    category: ItemWithCount;
}

const { category } = Astro.props;
const [title] = category;
---

<article
    class="bg-card text-card-foreground inline-block w-full overflow-hidden rounded-4xl drop-shadow duration-300 ease-in-out hover:drop-shadow-lg sm:w-auto"
>
    <a
        class="inline-block px-6 py-4"
        href={`/categories/${generateSlug(title)}`}
    >
        <h3 class="text-center text-xl leading-8 font-normal">
            {title}
        </h3>
    </a>
</article>
