---
import type { CollectionEntry } from 'astro:content';
import RecipeCard from './RecipeCard.astro';

interface Props {
  recipes: CollectionEntry<'recipes'>[];
}

const { recipes } = Astro.props;
---

<section class="px-4 sm:px-0">
  <h2
    class="text-center lg:hidden text-2xl font-bold mb-4 sm:mb-6 lg:mb-8 text-primary-600"
  >
    Featured Recipes
  </h2>
  <div
    class="grid gap-4 sm:gap-6 lg:gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3"
  >
    {recipes.map((recipe) => <RecipeCard recipe={recipe.data} />)}
  </div>
</section>
