---
import type { CollectionEntry } from 'astro:content';
import RecipeCard from './RecipeCard.astro';
import SectionHeader from './SectionHeader.astro';
import { Link } from './Link';

interface Props {
  recipes: CollectionEntry<'recipes'>[];
}

const { recipes } = Astro.props;
---

<section class="px-6 mb-16">
  <SectionHeader>জনপ্রিয় রেসিপিসমূহ</SectionHeader>
  <div class="grid gap-4 sm:gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    {recipes.map((recipe) => <RecipeCard recipe={recipe.data} />)}
  </div>
  <div class="text-center my-6">
    <Link to="/recipes" type="button">সকল রেসিপি দেখুন</Link>
  </div>
</section>
