<footer
  class="supports-backdrop-blur:bg-white/95 border-t border-chilli-600/10 bg-pablo-200/90 backdrop-blur"
>
  <div class="container mx-auto py-16">
    <div class="px-6">
      <p class="text-center text-base font-normal uppercase tracking-wide">
        A project by
        <a href="https://shahid.pro" target="_blank" class="text-chilli-600">
          Shahidul Islam Majumder
        </a>
      </p>
      <p
        class="mt-2 text-center text-xs uppercase tracking-wide text-pablo-700"
      >
        Since 2023 - present
      </p>
    </div>
  </div>
</footer>
