<footer
  class="border-t border-chilli-600/10 backdrop-blur bg-pablo-200/90 supports-backdrop-blur:bg-white/95"
>
  <div class="container mx-auto py-16">
    <div class="px-6">
      <p class="text-center text-base uppercase tracking-wide font-normal">
        A project by
        <a href="https://shahid.pro" target="_blank" class="text-chilli-600">
          Shahidul Islam Majumder
        </a>
      </p>
      <p
        class="text-center uppercase tracking-wide text-pablo-700 text-xs mt-2"
      >
        Since 2023 - present
      </p>
    </div>
  </div>
</footer>
