<footer
    class="border-chilli-600/10 mt-auto border-t backdrop-blur supports-backdrop-blur:bg-white/95"
>
    <div class="container mx-auto py-8">
        <div class="px-6">
            <p
                class="text-center text-base font-normal tracking-wide uppercase"
            >
                A project by
                <a
                    href="https://shahid.pro"
                    target="_blank"
                    class="text-chilli-600"
                >
                    Shahidul Islam Majumder
                </a>
            </p>
            <p
                class="text-pablo-700 mt-2 text-center text-xs tracking-wide uppercase"
            >
                Since 2023 - present
            </p>
        </div>
    </div>
</footer>
