---
import { BiLogoGithub } from 'react-icons/bi/index';
import Search from './Search.astro';
import MobileMenu from './MobileMenu.astro';
import { isActivePath } from '@/utils';

const currentPath = new URL(Astro.request.url).pathname;
---

<header
  class="sticky top-0 z-40 border-b border-chilli-600/10 backdrop-blur bg-pablo-200/90 supports-backdrop-blur:bg-white/95"
>
  <div class="container mx-auto">
    <div
      class="relative md:py-8 py-4 md:px-6 px-4 flex text-center justify-between font-medium font-sans"
    >
      <a href="/" class="inline-block relative sm:-left-1">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 512 512"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          class="w-12 inline-block text-chilli-600"
        >
          <path
            d="M399.687 85.3419C393.783 85.2573 387.699 85.8035 381.518 87.0327C352.496 92.8057 322.991 112.559 316.283 130.707C314.701 134.985 312.842 138.425 312.151 138.357C311.461 138.289 307.097 133.344 302.451 127.373C290.552 112.083 268.681 101.53 252.732 103.378C229.507 106.068 206.921 123.876 194.884 148.987C189.475 160.27 188.232 165.88 188.198 179.186C188.146 196.84 193.967 216.003 202.664 226.819C208.959 234.647 211.559 231.477 209.064 219.015C205.864 203.024 207.628 179.216 211.556 167.94C215.665 156.142 226.33 144.696 238.222 137.506C249.247 130.841 266.593 128.829 278.222 137.506C288.766 145.373 303.693 160.74 315.47 180.991C320.501 189.642 325.646 196.454 326.904 196.125C330.639 195.152 328.75 176.752 323.456 162.549L322.667 150.549L327.111 141.854C340.475 122.99 363.832 111.632 392.277 111.42C405.572 111.321 413.134 112.033 420.445 115.768C432.295 121.821 441.46 129.353 445.038 141.035C451.152 161 437.449 194.119 413.51 217.233C405.495 224.972 398.936 232.06 398.936 232.988C398.936 239.965 430.708 223.606 442.635 210.487C455.002 196.883 467.037 171.998 468.897 156.187C473.508 116.986 441.011 85.9088 399.687 85.3419ZM125.361 164.428C97.5312 164.717 68.5455 175.559 53.9092 195.496C31.363 226.209 43.3306 262.85 84.4007 288.839C97.326 297.018 124.604 306.598 143.495 309.596C159.26 312.099 164.428 319.364 178.524 358.828C185.555 378.513 193.861 397.934 196.979 401.982C204.639 411.926 216.868 419.475 232.003 423.604C251.841 429.017 302.43 426.982 330.334 419.646C382.594 405.907 426.355 379.591 439.794 353.821C446.87 340.252 447.882 329.449 443.617 312.947C437.87 290.705 405.797 229.189 405.797 240.407C405.797 241.098 410.384 255.444 415.989 272.284C434.645 328.343 430.994 330.573 413.51 349.205C400.111 363.483 380.055 371.324 353.778 380.98C312.398 396.185 269.625 406.202 242.667 398.37C223.026 392.665 221.352 389.599 207.111 350.545C200.162 331.489 188.562 315.862 188.569 315.232C188.576 314.603 198.302 313.922 210.185 313.716C236.894 313.255 277.223 308.662 309.333 298.373C358.531 282.607 413.432 248.101 392.277 248.101C389.873 248.101 375.723 251.64 360.834 255.97C345.945 260.299 302.27 272.771 263.777 283.683C225.283 294.595 191.721 304.601 189.198 305.922C185.419 307.901 183.653 307.318 179.154 302.601C170.872 293.921 160.39 284.388 140.445 280.982C88.172 272.055 62.7123 240.379 78.2223 211.418C94.0528 181.858 134.872 167.694 171.547 184.119C187.849 191.42 188.54 191.385 180.904 183.586C167.953 170.361 147.007 164.202 125.361 164.428Z"
            fill="currentColor"></path>
        </svg>
        <span
          class="font-normal inline-block relative top-1 pl-2 text-xl text-chilli-600"
          >রসুই প্রণালী</span
        >
      </a>
      <div class="hidden lg:flex items-center">
        <nav>
          <ul class="flex items-center gap-x-8 pr-8">
            <li>
              <a
                href="/"
                class={`text-xl ${
                  isActivePath(currentPath, '') ? 'text-chilli-600' : ''
                }`}
              >
                নীড়পাতা</a
              >
            </li>
            <li>
              <a
                href="/recipes"
                class={`text-xl ${
                  isActivePath(currentPath, 'recipes') ? 'text-chilli-600' : ''
                }`}
              >
                রেসিপি</a
              >
            </li>
            <li>
              <a
                href="/about"
                class={`text-xl ${
                  isActivePath(currentPath, 'about') ? 'text-chilli-600' : ''
                }`}>পরিচিতি</a
              >
            </li>
            <li>
              <a
                href="/contact"
                class={`text-xl ${
                  isActivePath(currentPath, 'contact') ? 'text-chilli-600' : ''
                }`}>যোগাযোগ</a
              >
            </li>
          </ul>
        </nav>
        <div
          class="pl-8 border-l-2 border-dotted border-chilli-600/40 flex items-center gap-x-8"
        >
          <Search />
          <a href="https://github.com/sh4hids/roshui-pronali" target="_blank">
            <BiLogoGithub className="text-pablo-700 w-6 h-6" />
            <span class="sr-only">Project Link</span>
          </a>
        </div>
      </div>
      <div class="lg:hidden">
        <MobileMenu />
      </div>
    </div>
  </div>
</header>
