---
import HeroImage from './HeroImage.astro';
import HeroSearch from './HeroSearch.astro';
---

<div class="container mx-auto">
  <div class="grid grid-cols-12 gap-6 my-16 px-6">
    <div class="md:col-span-5 col-span-12 grid content-center items-center">
      <span class="sm:text-xl text-lg font-normal pb-6 leading-9 sm:leading-10">
        ঘরে বসেই বাংলা, চাইনিজ, মোঘলাই, ইন্ডিয়ান, থাইসহ বিভিন্ন ধরনের অথেন্টিক
        রেসিপি ট্রাই করতে চান?
      </span>
      <h1
        class="text-chilli-600 sm:text-4xl text-2xl pb-2 sm:font-bold font-normal leading-10 sm:leading-12"
      >
        দেশী-বিদেশী অসংখ্য খাবারের রেসিপি খুঁজুন বাংলায়
      </h1>
      <HeroSearch />
    </div>

    <div class="md:col-start-8 md:col-span-5 hidden md:block">
      <HeroImage />
    </div>
  </div>
</div>
