---
import { InfoIcon } from '@phosphor-icons/react';
---

<aside
    class="border-primary bg-card text-card-foreground relative my-12 rounded-xl rounded-l-none border-l-[3px] px-6 py-6"
>
    <div
        class="bg-card border-background text-primary absolute top-0 left-0 hidden translate-x-[calc(-50%-1.5px)] translate-y-[-50%] rounded-full border-4 p-2 sm:block"
    >
        <InfoIcon className="h-10 w-10" />
    </div>
    <slot />
</aside>
