---
import { InfoIcon } from '@phosphor-icons/react';
---

<aside
    class="border-chilli-600 bg-pablo-100 relative my-12 rounded-xl rounded-l-none border-l-[3px] px-6 py-6"
>
    <div
        class="bg-pablo-200 text-chilli-600 absolute top-0 left-0 hidden translate-x-[calc(-50%-1.5px)] translate-y-[-50%] rounded-full p-2 sm:block"
    >
        <InfoIcon className="h-10 w-10" />
    </div>
    <slot />
</aside>
