---
import { HiOutlineInformationCircle } from 'react-icons/hi2/index';
---

<aside
  class="relative border-l-[3px] px-6 py-6 border-chilli-600 bg-pablo-100 my-12 rounded-xl rounded-l-none"
>
  <div
    class="absolute hidden sm:block top-0 left-0 p-2 bg-pablo-200 rounded-full text-chilli-600 translate-x-[calc(-50%-1.5px)] translate-y-[-50%]"
  >
    <HiOutlineInformationCircle className="w-10 h-10" />
  </div>
  <slot />
</aside>
