---
import { convertToBanglaNumber } from '../utils';

interface Props {
  stepNumber: number;
}

const { stepNumber } = Astro.props;
---

<h3 class="relative">
  <span>ধাপ {convertToBanglaNumber(stepNumber)}</span>
  <span
    class="inline-block border-t w-full absolute top-1/2 ml-4"
    aria-hidden="true"></span>
</h3>
