---
import { ListIcon } from '@phosphor-icons/react';
import Search from './Search.astro';

import { isActivePath } from '@/lib/utils';
import ThemeToggle from '@/components/ThemeToggle.astro';

const currentPath = new URL(Astro.request.url).pathname;
---

<mobile-menu id="mobile-menu" class="flex h-full items-center gap-x-4">
    <Search searchId="mobile" />
    <ThemeToggle />
    <button data-open-menu class="outline-none">
        <ListIcon className="text-chilli-600 h-7 w-7" />
        <span class="sr-only">Menu</span>
    </button>
    <dialog
        data-mobile-menu
        aria-label="mobile-menu"
        class="border-pablo-700/10 bg-background text-foreground h-full max-h-full w-full max-w-full border shadow-md backdrop:backdrop-blur sm:mx-auto sm:mb-auto sm:h-max sm:max-h-[calc(100%-8rem)] sm:min-h-60 sm:w-5/6 sm:max-w-3xl"
    >
        <button
            data-close-menu
            class="bg-card border-pablo-700/10 text-card-foreground absolute top-4 right-4 z-10 ms-auto cursor-pointer rounded-xl border px-4 py-0 font-mono text-[8px] font-bold uppercase drop-shadow-sm"
        >
            Esc
        </button>

        <div class="menu-dialog-frame flex flex-col gap-4">
            <nav>
                <ul class="flex flex-col items-center">
                    <li class="block w-full">
                        <a
                            href="/"
                            class={`inline-block w-full border-b border-chilli-600/10 text-xl py-3 ${
                                isActivePath(currentPath, '')
                                    ? 'text-chilli-600'
                                    : ''
                            }`}
                        >
                            নীড়পাতা</a
                        >
                    </li>
                    <li class="block w-full">
                        <a
                            href="/recipes"
                            class={`inline-block w-full border-b border-chilli-600/10 text-xl py-3 ${
                                isActivePath(currentPath, 'recipes')
                                    ? 'text-chilli-600'
                                    : ''
                            }`}
                        >
                            রেসিপি</a
                        >
                    </li>
                    <li class="block w-full">
                        <a
                            href="/about"
                            class={`inline-block w-full border-b border-chilli-600/10 text-xl py-3 ${
                                isActivePath(currentPath, 'about')
                                    ? 'text-chilli-600'
                                    : ''
                            }`}>পরিচিতি</a
                        >
                    </li>
                    <li class="block w-full">
                        <a
                            href="/contact"
                            class={`inline-block w-full border-b border-chilli-600/10 text-xl py-3 ${
                                isActivePath(currentPath, 'contact')
                                    ? 'text-chilli-600'
                                    : ''
                            }`}>যোগাযোগ</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
    </dialog>
</mobile-menu>

<script>
    class MobileMenu extends HTMLElement {
        constructor() {
            super();
            const openBtn = this.querySelector<HTMLButtonElement>(
                'button[data-open-menu]'
            )!;
            const closeBtn = this.querySelector<HTMLButtonElement>(
                'button[data-close-menu]'
            )!;
            const dialog = this.querySelector<HTMLDialogElement>(
                'dialog[data-mobile-menu]'
            )!;
            const dialogFrame = this.querySelector('.menu-dialog-frame')!;

            const onWindowClick = (event: MouseEvent) => {
                // check if it's a link
                const isLink = 'href' in (event.target || {});
                // make sure the click is either a link or outside of the dialog
                if (
                    isLink ||
                    (document.body.contains(event.target as Node) &&
                        !dialogFrame.contains(event.target as Node))
                )
                    closeModal();
            };

            const openModal = (event?: MouseEvent) => {
                dialog.showModal();
                this.querySelector('input')?.focus();
                event?.stopPropagation();
                window.addEventListener('click', onWindowClick);
            };

            const closeModal = () => {
                if (dialog.open) {
                    dialog.close();
                    window.removeEventListener('click', onWindowClick);
                }
            };

            openBtn.addEventListener('click', openModal);
            openBtn.disabled = false;
            closeBtn.addEventListener('click', closeModal);

            // Listen for `/` keyboard shortcut
            window.addEventListener('keydown', (e) => {
                if (e.key === '/' && !dialog.open) {
                    openModal();
                    e.preventDefault();
                }
            });

            // close modal and clear input on view-transtion
            document.addEventListener('astro:after-swap', () => {
                // close the modal & remove event listener on body
                closeModal();
            });
        }
    }

    customElements.define('mobile-menu', MobileMenu);
</script>
