---
import { BiMenu } from 'react-icons/bi';
import { Text } from '../components/Text';

const currentPath = new URL(Astro.request.url).pathname;

console.log(currentPath);
---

<div
  class="relative py-8 md:px-6 px-4 flex text-center justify-between font-medium font-sans"
>
  <a href="/">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 40 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="w-8 inline"
    >
      <path
        d="M32.7423 0.000795422C32.2009 -0.00713094 31.6429 0.0440728 31.0761 0.159314C28.4144 0.700534 25.7086 2.55241 25.0934 4.25373C24.9483 4.65487 24.7778 4.9773 24.7145 4.97096C24.6511 4.96462 24.2509 4.50098 23.8248 3.9412C22.7336 2.5078 20.7278 1.51841 19.2651 1.69165C17.1351 1.94391 15.0638 3.61339 13.9599 5.96752C13.4638 7.02528 13.3498 7.55126 13.3467 8.79873C13.3419 10.4537 13.8758 12.2502 14.6734 13.2642C15.2506 13.9981 15.4891 13.701 15.2603 12.5327C14.9668 11.0335 15.0275 8.71059 15.3877 7.65347C15.7646 6.54737 17.0271 5.01585 18.1178 4.3418C19.1289 3.7169 20.6107 3.85151 21.6772 4.66498C22.6442 5.40253 23.9387 7.06934 25.0188 8.96788C25.4802 9.7789 25.952 10.4175 26.0674 10.3868C26.4099 10.2955 26.2367 8.57051 25.7512 7.23894L25.299 5.99907L25.8818 5.15815C27.1074 3.38966 29.6454 2.20594 32.2541 2.18605C33.4734 2.17677 34.0216 2.27543 34.6921 2.62555C35.7789 3.19307 36.5733 4.12681 36.9015 5.22204C37.4622 7.09373 36.2056 10.1986 34.0101 12.3656C33.275 13.0911 32.6735 13.7556 32.6735 13.8426C32.6735 14.4968 35.5873 12.9631 36.6811 11.7331C37.8153 10.4578 38.919 8.12482 39.0896 6.64255C39.5125 2.96742 36.5322 0.0539496 32.7423 0.000795422ZM7.58392 7.41507C5.03163 7.44218 2.37334 8.45866 1.03105 10.3278C-1.03667 13.207 0.0608849 16.6421 3.82742 19.0786C5.0128 19.8454 7.51445 20.7435 9.24693 21.0246C10.6928 21.2593 11.1667 21.9404 12.4595 25.6401C13.1043 27.4856 13.866 29.3063 14.152 29.6858C14.8545 30.6181 15.976 31.3257 17.3641 31.7129C19.1834 32.2204 23.8229 32.0295 26.382 31.3418C31.1748 30.0538 35.1881 27.5867 36.4206 25.1707C37.0695 23.8987 37.1623 22.8859 36.7712 21.3388C36.2441 19.2536 33.3027 13.4864 33.3027 14.5381C33.3027 14.603 33.7234 15.9478 34.2374 17.5266C35.9484 22.7821 35.958 23.4256 34.3545 25.1723C33.1257 26.5109 31.5497 27.483 29.1398 28.3881C25.3449 29.8136 20.4951 30.3483 18.0227 29.6141C16.2215 29.0792 15.8443 28.5698 14.5382 24.9085C13.9009 23.122 13.38 21.612 13.3807 21.553C13.3813 21.4941 14.2733 21.4302 15.3632 21.4109C17.8126 21.3676 21.3023 20.7158 24.2471 19.7512C28.759 18.2732 34.003 15.2594 32.0628 15.2594C31.8423 15.2594 30.5446 15.5912 29.1792 15.9971C27.8137 16.403 23.8083 17.5723 20.278 18.5953C16.7477 19.6183 13.6698 20.5564 13.4384 20.6802C13.0918 20.8657 12.9299 20.811 12.5172 20.3689C11.7577 19.5551 10.6145 19.0547 8.78529 18.7354C3.99138 17.8985 0.719066 14.4511 2.14149 11.736C3.5933 8.96479 8.45616 7.72129 11.8197 9.26117C13.3146 9.94558 13.378 9.94232 12.6778 9.21116C11.49 7.97137 9.56906 7.39396 7.58392 7.41507Z"
        fill="#CB1B36"></path>
    </svg>
    <span
      class="font-normal inline-block relative top-1 ml-1 text-xl text-chilli-600"
      >রসুই প্রণালী</span
    >
  </a>
  <div class="hidden lg:flex items-center">
    <nav>
      <ul class="flex items-center gap-x-8">
        <li>
          <a
            href="/"
            class={`text-xl ${currentPath === '/' ? 'text-chilli-600' : ''}`}
          >
            নীড়পাতা</a
          >
        </li>
        <li>
          <a
            href="/about"
            class={`text-xl ${
              currentPath === '/about' ? 'text-chilli-600' : ''
            }`}>পরিচিতি</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class={`text-xl ${
              currentPath === '/contact' ? 'text-chilli-600' : ''
            }`}>যোগাযোগ</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="lg:hidden">
    <button>
      <BiMenu className="w-7 h-7 text-gray-900" />
    </button>
  </div>
</div>
