---
import {
  HiBars3,
  HiMagnifyingGlass,
  HiOutlineMoon,
} from 'react-icons/hi2/index';
import { BiLogoGithub } from 'react-icons/bi/index';
import SiteSearch from './SiteSearch.astro';

const currentPath = new URL(Astro.request.url).pathname;
---

<header
  class="sticky top-0 z-40 border-b border-chilli-600/10 backdrop-blur bg-pablo-200/90 supports-backdrop-blur:bg-white/95"
>
  <div class="container mx-auto">
    <div
      class="relative md:py-8 py-4 md:px-6 px-4 flex text-center justify-between font-medium font-sans"
    >
      <a href="/">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 48 40"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 inline text-chilli-600"
        >
          <path
            d="M40.1648 0.000975738C39.5006 -0.00874746 38.8161 0.0540638 38.1207 0.195429C34.8557 0.859339 31.5365 3.13102 30.7818 5.21802C30.6039 5.71009 30.3947 6.10561 30.317 6.09784C30.2393 6.09006 29.7484 5.52131 29.2257 4.83464C27.8871 3.0763 25.4266 1.86262 23.6323 2.07513C21.0195 2.38458 18.4786 4.43251 17.1244 7.32031C16.516 8.61785 16.3761 9.26307 16.3722 10.7933C16.3664 12.8235 17.0213 15.0273 17.9997 16.2711C18.7078 17.1714 19.0003 16.8069 18.7197 15.3737C18.3597 13.5347 18.5581 10.7968 19 9.5C19.4623 8.14316 20.6621 6.82685 22 6C23.2403 5.23343 25.1917 5.00213 26.5 6C27.6862 6.90475 29.3654 8.6719 30.6904 11.0008C31.2563 11.9957 31.8352 12.7791 31.9767 12.7414C32.3968 12.6294 32.1843 10.5134 31.5888 8.87995L31.5 7.5L32 6.5C33.5034 4.33061 36.1311 3.02441 39.3312 3C40.8269 2.98862 41.6775 3.07052 42.5 3.5C43.8332 4.19617 44.8642 5.06233 45.2667 6.40583C45.9546 8.70182 44.4131 12.5106 41.7199 15.1687C40.8182 16.0587 40.0803 16.8739 40.0803 16.9806C40.0803 17.7831 43.6546 15.9017 44.9964 14.3929C46.3877 12.8285 47.7416 9.96665 47.9509 8.14836C48.4696 3.6401 44.8137 0.0661795 40.1648 0.000975738ZM9.30313 9.09601C6.17225 9.12926 2.91136 10.3762 1.26478 12.669C-1.27167 16.201 0.074687 20.4148 4.69507 23.4036C6.14916 24.3442 9.21791 25.4459 11.3431 25.7908C13.1167 26.0785 13.6981 26.9141 15.2839 31.4525C16.0749 33.7164 17.0094 35.9499 17.3601 36.4153C18.2219 37.559 19.5977 38.427 21.3004 38.902C23.5322 39.5244 29.2234 39.2904 32.3625 38.4467C38.2418 36.8667 43.1649 33.8403 44.6768 30.8767C45.4729 29.3163 45.5867 28.0739 45.107 26.1762C44.4603 23.6182 40.8521 16.5437 40.8521 17.8338C40.8521 17.9133 41.3682 19.5631 41.9987 21.4997C44.0976 27.9466 43.6868 28.2032 41.7199 30.3459C40.2124 31.9879 37.9562 32.8896 35 34C30.3447 35.7486 25.5328 36.9007 22.5 36C20.2905 35.3438 20.1021 34.9913 18.5 30.5C17.7182 28.3085 16.4132 26.5113 16.414 26.4389C16.4147 26.3666 17.509 26.2882 18.8459 26.2646C21.8506 26.2115 26.3876 25.6834 30 24.5C35.5347 22.687 41.7111 18.7186 39.3312 18.7186C39.0607 18.7186 37.4689 19.1257 35.7938 19.6236C34.1188 20.1214 29.2054 21.5558 24.8749 22.8107C20.5443 24.0655 16.7686 25.2163 16.4848 25.3682C16.0597 25.5958 15.861 25.5287 15.3548 24.9863C14.4231 23.9881 13.2439 22.8917 11 22.5C5.11934 21.4734 2.25513 17.8306 4 14.5C5.78093 11.1006 10.3731 9.47164 14.4991 11.3606C16.333 12.2002 16.4107 12.1962 15.5517 11.2992C14.0947 9.77841 11.7383 9.07011 9.30313 9.09601Z"
            fill="currentColor"></path>
        </svg>
        <span
          class="font-normal inline-block relative top-1 ml-2 text-xl text-chilli-600"
          >রসুই প্রণালী</span
        >
      </a>
      <div class="hidden lg:flex items-center">
        <nav>
          <ul class="flex items-center gap-x-8">
            <li>
              <a
                href="/"
                class={`text-xl ${
                  currentPath === '/' ? 'text-chilli-600' : ''
                }`}
              >
                নীড়পাতা</a
              >
            </li>
            <li>
              <a
                href="/about"
                class={`text-xl ${
                  currentPath === '/about' ? 'text-chilli-600' : ''
                }`}>পরিচিতি</a
              >
            </li>
            <li>
              <a
                href="/contact"
                class={`text-xl ${
                  currentPath === '/contact' ? 'text-chilli-600' : ''
                }`}>যোগাযোগ</a
              >
            </li>
          </ul>
        </nav>
        <div
          class="ml-8 pl-8 border-l-2 border-dotted border-chilli-600/40 flex items-center gap-x-8"
        >
          <SiteSearch />
          <a href="https://github.com/sh4hids/roshui-pronali" target="_blank"
            ><BiLogoGithub className="text-pablo-700 w-6 h-6" /></a
          >
        </div>
      </div>
      <div class="lg:hidden grid items-center">
        <button>
          <HiBars3 className="w-7 h-7 text-chilli-600" />
          <span class="sr-only">Menu</span>
        </button>
      </div>
    </div>
  </div>
</header>
