---
import { type NoticeVariant, NoticeIcon } from '@/components/NoticeIcon';

export interface Props {
    variant?: NoticeVariant;
}

const { variant = 'info' } = Astro.props as Props;
---

<div class="pt-9">
    <div
        class="bg-card text-card-foreground relative rounded-3xl px-6 py-12 text-center drop-shadow"
    >
        <span
            class="bg-primary absolute -top-9 left-1/2 -translate-x-9 rounded-full p-4"
        >
            <NoticeIcon variant={variant} />
        </span>
        <h3 class="text-2xl">
            <slot />
        </h3>
    </div>
</div>
