---
import { type NoticeVariant, NoticeIcon } from './NoticeIcon';

export interface Props {
  variant?: NoticeVariant;
}

const { variant = 'info' } = Astro.props as Props;
---

<div class="pt-9">
  <div
    class="relative bg-pablo-50 drop-shadow text-center py-12 px-6 rounded-3xl"
  >
    <span
      class="p-4 bg-chilli-600 absolute rounded-full -top-9 left-1/2 -translate-x-9"
    >
      <NoticeIcon variant={variant} />
    </span>
    <h3 class="text-2xl">
      <slot />
    </h3>
  </div>
</div>
