---
import { HiOutlineClock, HiOutlineFire } from 'react-icons/hi2/index';
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import { convertToBanglaNumber } from '@/utils';

import coverImage from '@/assets/images/post-cover-image.png';

interface Props {
  recipe: CollectionEntry<'recipes'>;
}

const { recipe } = Astro.props;
---

<article
  class="rounded-3xl bg-pablo-50 overflow-hidden drop-shadow hover:drop-shadow-lg ease-in-out duration-300"
>
  <a class="flex flex-col h-full" href={`/recipes/${recipe.slug}`}>
    <div class="p-6" aria-hidden="true">
      <Image
        src={recipe.data.metaInfo.coverImage?.src ?? coverImage}
        alt="food"
        class="h-50 w-full rounded-lg object-cover border border-pablo-700/10"
        loading="eager"
      />
    </div>
    <div class="flex flex-col flex-1 justify-between pb-4 px-6">
      <h2
        class="font-normal text-center text-pablo-700 text-2xl pb-6 sm:leading-12 leading-10"
      >
        {recipe.data.title}
      </h2>
      <div class="grid grid-cols-2 pt-6 border-t">
        <div>
          <!-- <h3 class="font-light text-lg">রান্নার সময়</h3> -->
          <h3 class="font-normal text-base">
            <HiOutlineClock
              className="inline-block relative -top-0.5 w-6 h-6 mr-2"
            />
            <span>{convertToBanglaNumber(recipe.data.time.preparation)} মিনিট</span>
          </h3>
        </div>
        <div class="text-right">
          <!-- <h3 class="font-light text-lg">খেতে পারবে</h3> -->
          <h3 class="font-normal text-base">
            <HiOutlineFire
              className="inline-block relative -top-0.5 w-6 h-6 mr-2"
            />
            <span>{convertToBanglaNumber(recipe.data.time.cooking)} মিনিট</span>
          </h3>
        </div>
      </div>
    </div>
  </a>
</article>
