---
import { HiOutlineClock, HiOutlineUsers } from 'react-icons/hi2/index';
import { generateSlug } from '../utils';
import type { CollectionEntry } from 'astro:content';

interface Props {
  recipe: CollectionEntry<'recipes'>;
}

const image =
  'https://images.pexels.com/photos/718742/pexels-photo-718742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2';
const { recipe } = Astro.props;
---

<article
  class="rounded-3xl bg-pablo-50 overflow-hidden drop-shadow hover:drop-shadow-lg ease-in-out duration-300"
>
  <a
    class="flex flex-col h-full"
    href={`/recipes/${recipe.data.slug || recipe.slug}`}
  >
    <div class="p-6" aria-hidden="true">
      <img
        src={recipe.data.metaInfo.image || image}
        alt="food"
        class="h-44 w-full rounded-lg object-cover"
      />
    </div>
    <div class="flex flex-col flex-1 justify-between pb-4 px-6">
      <h2
        class="font-normal text-center text-pablo-700 text-2xl pb-6 leading-8"
      >
        {recipe.data.title}
      </h2>
      <div class="grid grid-cols-2 pt-6 border-t">
        <div>
          <!-- <h3 class="font-light text-lg">রান্নার সময়</h3> -->
          <h3 class="font-normal text-base">
            <!-- <span class=""> -->
            <HiOutlineClock
              className="inline-block relative -top-0.5 w-6 h-6 mr-2"
            />
            <!-- </span> -->
             ১ ঘ. ২৫ মি.
          </h3>
        </div>
        <div class="text-right">
          <!-- <h3 class="font-light text-lg">খেতে পারবে</h3> -->
          <h3 class="font-normal text-base">
            <HiOutlineUsers
              className="inline-block relative -top-0.5 w-6 h-6 mr-2"
            />
             ৪ জন
          </h3>
        </div>
      </div>
    </div>
  </a>
</article>
