---
import { HashIcon } from '@phosphor-icons/react';
import { type ItemWithCount } from '@/data/recipes';
import { convertToBanglaNumber, generateSlug } from '@/lib/utils';

interface Props {
    tag: ItemWithCount;
}

const { tag } = Astro.props;
const [title, count] = tag;
---

<article
    class="bg-card text-card-foreground overflow-hidden rounded-3xl drop-shadow duration-300 ease-in-out hover:drop-shadow-lg"
>
    <a class="flex flex-col p-6" href={`/tags/${generateSlug(title)}`}>
        <h3 class="text-center text-xl leading-8 font-normal">
            <HashIcon className="text-chilli-600 inline" />
            <span class="relative top-1">
                {title}
            </span>
        </h3>
        <p class="pt-4 text-center">
            {convertToBanglaNumber(count)}
            {' টি রেসিপি'}
        </p>
    </a>
</article>
