---
import { MoonIcon, SunIcon } from '@phosphor-icons/react';
---

<theme-toggle>
    <button
        class="relative h-7 w-7 cursor-pointer rounded-md p-2"
        type="button"
    >
        <span class="sr-only">Dark Theme</span>
        <SunIcon
            aria-hidden="true"
            className="absolute start-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 scale-100 opacity-100 transition-all dark:scale-0 dark:opacity-0"
        />
        <MoonIcon
            aria-hidden="true"
            className="absolute start-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all dark:scale-100 dark:opacity-100"
        />
    </button>
</theme-toggle>

<script>
    // Note that if you fire the theme-change event outside of this component, it will not be reflected in the button's aria-checked attribute. You will need to add an event listener if you want that.
    import { rootInDarkMode } from '@/lib/utils';

    class ThemeToggle extends HTMLElement {
        constructor() {
            super();
            const button = this.querySelector<HTMLButtonElement>('button');

            if (button) {
                // set aria role value
                button.setAttribute('role', 'switch');
                button.setAttribute('aria-checked', String(rootInDarkMode()));

                // button event
                button.addEventListener('click', () => {
                    // invert theme
                    const themeChangeEvent = new CustomEvent('theme-change', {
                        detail: {
                            theme: rootInDarkMode() ? 'light' : 'dark',
                        },
                    });

                    // dispatch event -> ThemeProvider.astro
                    document.dispatchEvent(themeChangeEvent);

                    // set the aria-checked attribute
                    button.setAttribute(
                        'aria-checked',
                        String(rootInDarkMode())
                    );
                });
            } else {
                console.warn('Theme Toggle: No button found');
            }
        }
    }

    customElements.define('theme-toggle', ThemeToggle);
</script>
