---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div
    class="mx-auto flex h-screen w-screen max-w-3xl flex-col items-center justify-center"
>
    <p class="text-primary">Hello World!</p>
    <h1 class="text-3xl font-bold">Hello there</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus totam
        eos nisi unde? Laboriosam eligendi, labore architecto sunt voluptas
        consequatur, recusandae delectus enim vitae itaque veritatis dicta
        voluptate ea laudantium.
    </p>
    <button
        class="bg-primary text-primary-foreground rounded px-4 py-2 uppercase"
        >Button</button
    >
</div>
