---
import Container from '@/components/Container.astro';
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout meta={{ title, description }}>
  <Container>
    <h2
      class="text-center text-2xl font-normal pb-4 pt-6 sm:pb-6 lg:pb-8 text-chilli-600"
    >
      {title}
    </h2>

    <slot />
  </Container>
</BaseLayout>
