---
import Container from '@/components/Container.astro';
import BaseLayout from './BaseLayout.astro';
import { type ItemWithCount } from '@/data';
import { convertToBanglaNumber, generateSlug } from '@/utils';
import CategoryList from '@/components/CategoryList.astro';

interface Props {
  title: string;
  description: string;
  totalRecipes: number;
  categories: ItemWithCount[];
  tags: ItemWithCount[];
}

const {
  title,
  description,
  totalRecipes = 0,
  categories = [],
  tags = [],
} = Astro.props;
---

<BaseLayout meta={{ title, description }}>
  <Container>
    <div class="grid sm:grid-cols-12 gap-6">
      <div
        class="hidden sm:block sm:col-start-1 sm:col-span-3 sm:sticky top-[136px] self-start max-h-[calc(100vh-160px)] overflow-y-auto"
      >
        <span class="block pb-6">
          <CategoryList
            items={categories}
            totalRecipes={totalRecipes}
            type="category"
          />
        </span>
        <CategoryList
          items={tags}
          totalRecipes={totalRecipes}
          type="tag"
          limit={5}
        />
      </div>
      <div class="sm:col-start-4 sm:col-end-13 pt-6">
        <slot />
      </div>
    </div>
  </Container>
</BaseLayout>
