---
import '../styles/base.css';
import Navbar from '../components/Navbar.astro';

const defaultTitle = 'রসুই প্রণালী';
const { title = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="font-sans text-gray-900">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${defaultTitle}` : defaultTitle}</title>
  </head>
  <body>
    <header class="relative">
      <div class="container mx-auto">
        <Navbar />
      </div>
    </header>
    <main class="container mx-auto">
      <slot />
    </main>
  </body>
</html>
